.about-company {
  background-color: #ffffff;
}

.about-company__wrapper {
  padding-top: 80px;
  padding-bottom: 110px;
  padding-left: 323px;
  padding-right: 141px;
  width: 100%;

  box-sizing: border-box;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/about-company-background.png");
    background-repeat: no-repeat;
    background-size: 220px 317px;
    background-position: 0 0;

    width: 220px;
    height: 317px;
    top: 80px;
    left: 100px;
  }
}

.about-company__title {
  margin: 0;

  font-family: $font-Roboto;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
}

.about-company__text {
  margin: 0;
  margin-top: 18px;
}

.about-company__button {
  display: block;
  width: 180px;
  min-height: 45px;
  margin-top: 40px;
  padding: 14px 12px;

  border: 1px solid $blue;
  box-sizing: border-box;
  border-radius: 5px;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $blue;
  text-decoration: none;
  text-transform: uppercase;

  cursor: pointer;

  &:hover {
    background-color: $blue;
    color: #ffffff;
  }

  &:active {
    color: (255, 255, 255, 0.3);
  }
}

@media (max-width: $desktop-width) {
  .about-company__wrapper {
    padding-top: 30px;
    padding-bottom: 83px;
    padding-left: 213px;
    padding-right: 25px;
    width: 100%;

    &::before {
      background-size: 251px auto;
      background-position: 0 0;

      width: 251px;
      height: 362px;
      top: 24px;
      left: -10px;
    }
  }

  .about-company__title {
    font-size: 32px;
  }

  .about-company__text {
    margin-top: 23px;
  }

  .about-company__button {
    margin-top: 34px;
  }
}

@media (max-width: $tablet-width) {
  .about-company__wrapper {
    padding-top: 40px;
    padding-bottom: 65px;
    padding-left: 15px;
    padding-right: 15px;

    &::before {
      display: none;
    }
  }

  .about-company__title {
    font-size: 28px;
  }

  .about-company__text {
    margin-top: 19px;

    height: 100px;
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
