.contact-form {
  background-color: $blue;
  color: #ffffff;

  overflow: hidden;
}

.contact-form__wrapper {
  padding: 0 135px;
  position: relative;

  box-sizing: border-box;
}

.contact-form__form {
  width: 49%;
  padding-left: 51%;
  padding-top: 92px;
  padding-bottom: 114px;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/paper_airplane.png"), url("../img/decoration-1.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: 131px 223px, -41px 0;
    background-size: 511px 228px, 671px 641px;
    width: 686px;
    height: 641px;
    top: -60px;
    right: 55%;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/decoration-2.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 521px 670px;
    width: 521px;
    height: 670px;
    top: 35px;
    right: -435px;
  }
}

.contact-form__form-title {
  margin: 0;

  font-family: $font-Roboto;
  font-size: 36px;
  line-height: 51px;
}

.contact-form__form-text {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 51px;
}

.contact-form__form-field {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  width: 47.5%;
  padding: 16px 19px;
  padding-top: 14px;
  box-sizing: border-box;

  &::placeholder {
    color: #ffffff;
  }
}

.contact-form__form-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.contact-form__form-textarea {
  display: block;

  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  width: 100%;
  min-height: 154px;

  margin-top: 43px;
  margin-bottom: 42px;
  padding: 12px 19px;
  box-sizing: border-box;

  resize: none;

  &::placeholder {
    color: #ffffff;
  }
}

.contact-form__form-button {
  display: inline-block;
  background-color: transparent;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;

  width: 47.5%;
  padding: 0 19px;
  padding-top: 14px;
  padding-bottom: 12px;

  cursor: pointer;

  &:hover {
    background-color: #ffffff;
    color: $blue;
  }

  &:active {
    opacity: 0.3;
  }
}

.contact-form__form-checkbox-container {
  display: inline-block;
  box-sizing: border-box;
  width: 45%;
}

.contact-form__form-checkbox-container label {
  padding-left: 34px;
  font-size: 14px;
  line-height: 16px;

  position: relative;

  cursor: pointer;
  user-select: none;

  display: block;
}

.contact-form__form-checkbox + label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;

  border: 1px solid #ffffff;
  box-sizing: border-box;

  top: 3px;
  left: 2px;
}

.contact-form__form-checkbox:checked + label::after {
  content: "";

  position: absolute;
  width: 5px;
  height: 4px;

  border-left: solid 2px #ffffff;
  border-bottom: solid 2px #ffffff;

  transform: rotate(-45deg);

  top: 7px;
  left: 7px;
}

@media (max-width: $desktop-width) {
  .contact-form__wrapper {
    padding-left: 92px;
    padding-right: 87px;
  }

  .contact-form__form {
    width: 100%;
    padding-left: 0;
    padding-top: 79px;
    padding-bottom: 103px;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .contact-form__form-title {
    font-size: 32px;
    line-height: 48px;
  }

  .contact-form__form-text {
    margin-top: 14px;
    margin-bottom: 55px;
  }

  .contact-form__form-field {
    padding-bottom: 19px;
  }

  .contact-form__form-textarea {
    min-height: 158px;
    margin-bottom: 47px;
  }

  .contact-form__form-checkbox-container {
    width: 46%;
  }
}

@media (max-width: $tablet-width) {
  .contact-form__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .contact-form__form {
    padding-top: 33px;
    padding-bottom: 41px;
  }

  .contact-form__form-title {
    font-size: 28px;
    line-height: 45px;
  }

  .contact-form__form-text {
    margin-bottom: 25px;
  }

  .contact-form__form-field {
    width: 100%;
    margin-bottom: 31px;
  }

  .contact-form__form-textarea {
    margin-top: 0;
    margin-bottom: 31px;
  }

  .contact-form__form-button {
    width: 100%;
  }

  .contact-form__form-checkbox-container {
    margin-top: 30px;
    width: 100%;
  }
}
