.main-info {
  margin-top: 173px;
  color: #ffffff;
  position: relative;
  min-height: 620px;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;

    background-image: url("../img/main-background.png");
    background-repeat: no-repeat;
    background-size: 705px 515px;
    background-position: 0 0;

    width: 705px;
    height: 515px;
    left: 54%;
    top: 0;

    overflow: hidden;
    z-index: -1;
  }
}

.main-info__title {
  font-family: $font-Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  text-transform: uppercase;

  margin: 0;
  padding-top: 58px;
  padding-left: 15px;
  width: 54%;
}

.main-info__message {
  width: 48%;

  font-size: 22px;
  line-height: 34px;
  padding-left: 109px;
  margin: 0;
  margin-top: 31px;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 66px;
    height: 2px;
    left: 15px;
    top: 14px;

    background-color: #ffffff;
  }
}

.main-info__button {
  display: block;
  margin-left: 109px;
  margin-top: 37px;
  width: 407px;
  padding: 17px 28px;
  box-sizing: border-box;
  background-color: $blue;
  border-radius: 5px;

  font-family: $font-Roboto;
  font-weight: bold;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
}

.main-info__scroll {
  margin: 0;

  font-size: 14px;
  line-height: 16px;

  opacity: 0.5;
  transform: rotate(-90deg);
  width: 93px;
}

@media (max-width: $desktop-width) {
  .main-info {
    margin-top: 41px;
    min-height: 573px;

    &::before {
      background-size: 465px 340px;
      width: 465px;
      height: 340px;

      left: 69%;
    }
  }

  .main-info__scroll {
    display: none;
  }

  .main-info__title {
    padding-top: 75px;
    padding-left: 90px;
    width: 62%;
    font-size: 60px;
    line-height: 70px;
  }

  .main-info__message {
    font-size: 18px;
    padding-left: 140px;

    &::before {
      width: 33px;
      left: 91px;
    }
  }

  .main-info__button {
    width: 379px;
    margin-left: 139px;
    margin-top: 45px;
    padding: 14px;
    padding-top: 17px;
  }
}

@media (max-width: $tablet-width) {
  .main-info {
    margin-top: 37px;
    min-height: 555px;

    @include padding;

    &::before {
      background-size: 301px 220px;
      width: 301px;
      height: 220px;

      left: 7%;
    }
  }

  .main-info__title {
    padding-top: 194px;
    padding-left: 0;
    width: 100%;

    font-size: 40px;
    line-height: 47px;
  }

  .main-info__message {
    font-size: 16px;
    padding-left: 17%;
    width: 83%;

    &::before {
      width: 33px;
      left: 0;
    }
  }

  .main-info__button {
    width: 100%;
    margin-left: 0;
    margin-top: 42px;

    padding-left: 11px;
    padding-right: 11px;
  }
}
