.page-footer {
  background-color: #fafafa;
  color: rgba(27, 45, 55, 0.5);
}

.page-footer__social-logo {
  margin: 0;
}

.page-footer__wrapper {
  max-width: 1440px;
  margin: 0 auto;

  padding: 0 12px;

  box-sizing: border-box;
}

.page-footer__top {
  max-width: 1440px;
  margin: 0 auto;

  padding: 0 12px;

  box-sizing: border-box;

  padding-top: 65px;
  padding-bottom: 57px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-footer__social {
  width: 216px;
}

.page-footer__column {
  width: 70.2%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-footer__navigation {
  width: 63%;
}

.page-footer__contacts {
  width: 34%;
}

.page-footer__social-list {
  width: 113px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 47px;
}

.page-footer__social-item {
  display: block;
  width: 27px;
  height: 27px;
  margin-right: 16px;
  margin-bottom: 5px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:hover .page-footer__social-image {
    fill: $blue;
  }

  &:active .page-footer__social-image {
    fill: rgba(205, 205, 205, 0.3);
  }
}

.page-footer__social-image {
  width: 27px;
  height: 27px;

  fill: #cdcdcd;
}

.page-footer__title {
  font-family: $font-Roboto;
  font-size: 15px;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  color: #1b2d37;

  margin: 0;
  margin-bottom: 26px;
}

.page-footer__list {
  display: flex;
}

.page-footer__link {
  display: block;
  color: #1b2d37;
  text-decoration: none;
  font-size: 15px;
  opacity: 0.5;

  margin-bottom: 3px;

  &:hover {
    color: $blue;
    opacity: 1;
  }

  &:active {
    opacity: 0.5;
  }
}

.page-footer__text {
  margin: 0;
  font-size: 15px;
  line-height: 1.7;
}

.page-footer__item {
  padding-right: 14%;
  box-sizing: border-box;
}

.page-footer__bottom {
  border-top: 1px solid rgba(98, 105, 98, 0.2);
}

.page-footer__info-content {
  margin: 0;
  font-size: 13px;
  line-height: 1.8;
  text-transform: uppercase;
  letter-spacing: 0.04em;

  width: 33%;
}

.page-footer__info {
  max-width: 1440px;
  margin: 0 auto;

  padding: 0 12px;

  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-top: 14px;
  padding-bottom: 14px;
}

.page-footer__info-link {
  display: block;
  color: #1b2d37;
  text-decoration: none;
  text-align: center;

  &:hover {
    color: $blue;
    opacity: 1;
  }

  &:active {
    opacity: 0.5;
  }
}

.page-footer__info-content-rights {
  display: inline-block;
  padding-right: 16%;
}

.page-footer__social-text {
  display: none;
}

.page-footer__toggle {
  display: none;
}

.page-footer__info-content--right {
  text-align: right;
}

@media (max-width: $desktop-width) {
  .page-footer__social-text {
    display: block;
    text-transform: uppercase;

    font-size: 13px;
    line-height: 1.8;
    letter-spacing: 0.04em;

    margin: 0;
  }

  .page-footer__top {
    max-width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 19px;
    padding-bottom: 35px;
  }

  .page-footer__social {
    width: 100%;
    margin: 0 auto;

    padding: 0 25px;
    padding-right: 22px;
    padding-bottom: 20px;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid rgba(98, 105, 98, 0.2);
  }

  .page-footer__social-list {
    margin-top: 0;
  }

  .page-footer__column {
    width: 100%;
    margin: 0 auto;

    padding: 0 25px;
    padding-top: 38px;
    box-sizing: border-box;
  }

  .page-footer__navigation {
    width: 48%;
  }

  .page-footer__contacts {
    width: 48%;
  }

  .page-footer__list {
    flex-direction: column;
  }

  .page-footer__info-content--hidden {
    display: none;
  }

  .page-footer__info {
    padding-top: 22px;
    padding-bottom: 24px;
  }

  .page-footer__info-content--right {
    letter-spacing: 0.04em;
  }
}

@media (max-width: $tablet-width) {
  .page-footer__top {
    padding-top: 46px;
    padding-bottom: 23px;
  }

  .page-footer__social {
    flex-direction: column;
    padding: 0 15px;
    padding-bottom: 54px;
  }

  .page-footer__social-text {
    padding-top: 19px;
    padding-bottom: 31px;
  }

  .page-footer__column {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  .page-footer__navigation {
    width: 100%;
    margin: 0 auto;

    padding: 28px 15px;
    box-sizing: border-box;

    border-bottom: 1px solid rgba(98, 105, 98, 0.2);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page-footer__contacts {
    width: 100%;
    margin: 0 auto;

    padding: 0 15px;
    padding-top: 28px;
    padding-right: 33px;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    position: relative;
  }

  .page-footer__info {
    flex-direction: column;
    padding-top: 7px;
    padding-bottom: 26px;
  }

  .page-footer__info-content {
    padding-top: 21px;
    text-align: center;
    width: 100%;
  }

  .page-footer__list {
    width: 100%;
  }

  .page-footer__toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

    background-color: transparent;
    display: block;
    width: 16px;
    height: 16px;

    padding: 0;

    cursor: pointer;
    border: none;

    &::before {
      content: "";

      position: absolute;
      top: 7px;
      right: 0;

      width: 16px;
      height: 1px;

      background-color: #c4c4c4;
    }
  }

  .page-footer__toggle.page-footer__toggle--closed {
    &::after {
      content: "";

      position: absolute;
      top: 0;
      right: 7px;

      width: 1px;
      height: 16px;

      background-color: #c4c4c4;
    }
  }

  .page-footer__content {
    padding-top: 33px;
    width: 100%;
  }

  .page-footer__block--hidden {
    display: none;
  }

  .page-footer__title {
    margin-bottom: 0;
    position: relative;
    width: 100%;
  }

  .page-footer__block {
    margin-top: 36px;
  }

  .page-footer__toggle--js-locked {
    display: none;
  }

  .page-footer__block--js-locked {
    display: block;
  }
}

