.popup {
  display: none;
  z-index: 100;
}

.popup__wrapper {
  width: 100%;
  height: 100%;

  background-color: rgba(27, 45, 55, 0.5);
  position: absolute;
  z-index: 1000;
}

.popup__container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  padding-top: 10px;
  padding-bottom: 10px;

  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 1000;

  @media (max-width: 767px) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.popup form {
  max-width: 490px;
  width: 100%;
  background-color: $blue;

  color: #ffffff;

  box-sizing: border-box;
  padding: 33px 39px;

  position: relative;
  margin: auto;
  height: auto;

  z-index: 1001;

  @media (max-width: 767px) {
    max-width: 100%;
  }
}

.popup__title {
  margin: 0;

  font-family: $font-Roboto;
  font-size: 28px;
  font-weight: 400;
}

.popup__message {
  margin: 0;
  margin-top: 10px;
  max-width: 370px;
}

.popup form > input {
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  margin-top: 30px;
  padding: 17px 26px;
  box-sizing: border-box;

  width: 100%;

  color: #ffffff;
  border-radius: 0;

  &::placeholder {
    color: #ffffff;
  }
}

.popup form > textarea {
  display: block;

  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  width: 100%;
  min-height: 106px;

  margin-top: 30px;
  margin-bottom: 30px;
  padding: 17px 26px;
  box-sizing: border-box;
  border-radius: 0;

  resize: none;

  color: #ffffff;

  &::placeholder {
    color: #ffffff;
  }
}

.popup__button {
  display: inline-block;
  background-color: transparent;

  font-family: $font-Roboto;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;

  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 5px;

  width: 100%;
  padding: 0 19px;
  padding-top: 14px;
  padding-bottom: 13px;

  cursor: pointer;

  &:hover {
    background-color: #ffffff;
    color: $blue;
  }

  &:active {
    opacity: 0.3;
  }
}

.popup__checkbox-container {
  margin-top: 34px;
  display: inline-block;
  box-sizing: border-box;
}

.popup__checkbox-container label {
  padding-left: 50px;
  font-size: 14px;

  position: relative;

  cursor: pointer;
  user-select: none;

  display: block;
  width: 350px;
}

.popup__checkbox-container input + label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;

  border: 1px solid #ffffff;
  box-sizing: border-box;

  top: 2px;
  left: 0;
}

.popup__checkbox-container input + label:hover::before {
  border-color: #1b2d37;
}


.popup__checkbox-container input:checked + label::after {
  content: "";

  position: absolute;
  width: 8px;
  height: 5px;

  border-left: solid 2px #ffffff;
  border-bottom: solid 2px #ffffff;

  transform: rotate(-45deg);

  top: 4px;
  left: 3px;
}

.popup__close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  width: 17px;
  height: 17px;

  border: none;

  cursor: pointer;

  &::before {
    content: "";

    position: absolute;
    width: 1px;
    height: 17px;

    background-color: #ffffff;

    transform: rotate(-45deg);
    border-radius: 5px;

    top: 0;
    left: 50%;
  }

  &::after {
    content: "";

    position: absolute;
    width: 1px;
    height: 17px;

    background-color: #ffffff;

    transform: rotate(45deg);
    border-radius: 5px;

    top: 0;
    left: 50%;
  }

  &:hover {
    opacity: 0.3;
  }
}

.popup--show {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
}

.popup-modal {
  overflow: hidden;
}
