.products {
  font-family: $font-Roboto;
  color: #ffffff;
}

.products__list {
  @include list-reset;
  margin: 0 auto;
  margin-bottom: 130px;
  max-width: 1440px;
  padding: 0 135px;

  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.products__title {
  margin: 0 auto;
  max-width: 1440px;
  margin-top: 88px;
  margin-bottom: 20px;
  padding: 0 135px;

  font-weight: normal;
  font-size: 36px;

  box-sizing: border-box;
}

.products__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  line-height: 1.5;

  padding: 52px 0;
  padding-right: 42%;
  padding-left: 12%;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  position: relative;
  z-index: 1;

  &:hover {
    color: $blue;
  }

  &:active {
    opacity: 0.5;
  }
}

.products__item {
  width: 31.5%;
  min-height: 620px;

  position: relative;
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;

  cursor: pointer;
  margin-right: 2.7%;
  margin-top: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.products__item--production {
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 620px;
    background-image: url("../img/products-image1.png");
    background-repeat: no-repeat;
    background-size: 370px 620px;
    background-position: 0 50%;
    left: 0;
    top: 0;
  }
}

.products__item--installation {
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 620px;
    background-image: url("../img/products-image2.png");
    background-repeat: no-repeat;
    background-size: 370px 620px;
    background-position: 0 50%;
    left: 0;
    top: 0;
  }
}

.products__item--accessories {
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 620px;
    background-image: url("../img/products-image3.png");
    background-repeat: no-repeat;
    background-size: 370px 620px;
    background-position: 0 50%;
    left: 0;
    top: 0;
  }
}

.products__button {
  display: block;
  width: 63px;
  height: 63px;
  background-color: $blue;
  margin-top: auto;
  margin-left: auto;

  position: absolute;
  bottom: 0;
  right: 0;

  &::before {
    content: "";
    position: absolute;

    width: 6px;
    height: 6px;
    left: 29px;
    top: 29px;

    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    transform: rotate(-45deg);
  }
}

@media (max-width: $desktop-width) {
  .products__list {
    @include padding;

    margin-bottom: 80px;
  }

  .products__title {
    padding: 0 25px;
    padding-right: 129px;
    padding-bottom: 6px;

    max-width: 1023px;

    margin-top: 47px;
    margin-bottom: 0;

    font-size: 32px;
  }

  .products__item {
    margin-top: 46px;
    margin-right: 0;
    width: 100%;
    min-height: 256px;
  }

  .products__item--production {
    &::before {
      height: 256px;
      background-image: url("../img/products-tablet-image1.png");
      background-repeat: repeat-x;
      background-size: 770px 301px;
      background-position: 0 50%;
    }
  }

  .products__item--installation {
    &::before {
      height: 256px;
      background-image: url("../img/products-tablet-image2.png");
      background-repeat: repeat-x;
      background-size: 770px 280px;
      background-position: 50% 0;
    }
  }

  .products__item--accessories {
    &::before {
      height: 256px;
      background-image: url("../img/products-tablet-image3.png");
      background-repeat: repeat-x;
      background-size: 770px 256px;
      background-position: 0 50%;
    }

    .products__link {
      padding-top: 50px;
    }
  }

  .products__link {
    padding-right: 71%;
    padding-left: 6%;
    padding-top: 41px;
  }
}

@media (max-width: $tablet-width) {
  .products__list {
    max-width: 767px;
    margin-bottom: 64px;
  }

  .products__title {
    padding-left: 25px;
    padding-right: 0;

    max-width: 767px;

    margin-top: 49px;
    margin-bottom: 7px;

    font-size: 28px;
  }

  .products__item {
    margin-top: 31px;
    min-height: 255px;
  }

  .products__link {
    padding: 20px;
    padding-right: 34%;
    padding-left: 35px;
  }

  .products__item--accessories {
    .products__link {
      padding-top: 29px;
    }
  }

  .products__button {
    &::before {
      width: 5px;
      height: 5px;
      left: 27px;
      top: 28px;
    }
  }
}
